@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:ital,wght@0,1;0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,1;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

* {
    font-family:'Sofia Sans Condensed', sans-serif, 'Inter', sans-serif, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar {
    display: none;
  }

.title {
    color: #002F40;

}
.subtitle {
    color: #52b0cf;
    font-weight: 310;
}
.content {
    display: flex;
    justify-content: center;
}
.card {
    width: 60vh;
    min-height: 60vh;
   
}
.title-card {
    text-align: center;
    color: #F7F7F7;
    font-weight: 390;
}
.subtitle-card {
    text-align: center;
    color: #b1b1b1;
    font-weight: 250;
    font-size: 1.3vw;
}
.text {
    color: #F7F7F7;
    font-weight: 350;
    font-size: 1.2vw;
}
/* footer */
.footer {
    border-top: 0.25em solid;
    border-image: linear-gradient(60deg, #8a2be2, #52b0cf) 1 1;
    color: #F4F4F4; 
    position: fixed; 
    bottom: 0; 
    height: 8%;
    width: 100%; 
    background-color: #002F40;
}

.textFooter {
    text-decoration: none;
    color: #f4f4f4;
    font-weight: 300;
}

/* Estilos para telas pequenas (Smartphones) */
@media (max-width: 480px) {
    /* Estilos específicos para telas pequenas */
    .title {
        color: #002F40;
        text-align: center;
        font-size: 7vw;
    }
    .subtitle {
        color: #52b0cf;
        font-weight: 310;
        text-align: center;
        font-size: 5.5vw;
    }
    .card {
        width: 40vh;
        min-height: 60vh;
    }
    .title-card {
        font-size: 6.5vw;
        font-weight: 400;
    }
    .subtitle-card {
        font-weight: 250;
        font-size: 4.5vw;
    }
    .text {
        font-weight: 350;
        font-size: 4.5vw;
    }
  
/* Estilos para telas médias (Tablets e dispositivos com largura intermediária) */
@media (min-width: 481px) and (max-width: 768px) {
    /* Estilos específicos para telas médias */
    .title {
        color: #002F40;
        text-align: center;
        font-size: 7vw;
    }
    .subtitle {
        color: #52b0cf;
        font-weight: 310;
        text-align: center;
        font-size: 5.5vw;
    }
    /* .card {
        width: 20vh;
        min-height: 60vh;
        margin: 20%;
    }
    .title-card {
        font-size: 6.5vw;
        font-weight: 400;
    }
    .subtitle-card {
        font-weight: 250;
        font-size: 10vw;
    }
    .text {
        font-weight: 350;
        font-size: 10vw;
    } */
}

/* Estilos para telas grandes (Desktops e laptops) */
@media (min-width: 769px) and (max-width: 1024px) {
    /* Estilos específicos para telas grandes */
    /* .card {
        width: 20vh;
        min-height: 60vh;
        margin: 20%;
    }
    .title-card {
        font-size: 6.5vw;
        font-weight: 400;
    }
    .subtitle-card {
        font-weight: 250;
        font-size: 7.5vw;
    }
    .text {
        font-weight: 350;
        font-size: 10vw;
    } */
}

/* Estilos para telas extra grandes (Desktops grandes e monitores de alta resolução) */
@media (min-width: 1025px) {
    /* Estilos específicos para telas extra grandes */
}
  
  /* Estilos gerais para o layout do template (Desktop padrão) */
  /* Esses estilos serão aplicados em todas as telas, incluindo desktops */
  
  /* colors: #002F40 */